@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato, sans-serif;
}
#maindiv{
    height: 50vh;
    width: 60vw;
    border:1px solid wheat;
    color: white;
    text-align: left;
  text-justify: distribute;
  overflow: scroll;
}


#para
{
  font-size: 2em;
}
